{% extends "html/_base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="container">
        <div class="dark-blue-window">
            <h1>Налаштування пошти</h1>
        </div>
        <div class="work-section">
            {% if user.email %}
                <p>Ваша актуальна пошта: <strong>{{ user.email }}</strong></p>
            {% else %}
                <p>Пошта відсутня, необхідно додати</p>
            {% endif %}
            <p>Ваші інші поштові скриньки, які є неактивні:</p>
            {% for email in email_addresses %}
                 <form action="{% url 'accounts:email' %}" method="post">
                    {% csrf_token %}
                     <strong>{{ email.email }}</strong>
                    <input type="hidden" name="email" value="{{ email.email }}">
                    <button name="email-primary" type="submit" class="button-a">Зробити основною</button>
                    <button name="email-delete" type="submit" class="button-a">Видалити</button>
                 </form>
            {% endfor %}
            <form action="{% url 'accounts:email' %}" method="post">
                {% csrf_token %}
                <label>Введіть нову пошту користувача</label>
                {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-{{ message.tags }}">
                        <h5>{{ message }}</h5>
                    </div>
                    {% endfor %}
                {% endif %}
                <input type="email" name="email">
                <button name="email-add" type="submit" class="submit-form">Змінити пошту</button>
        </form>
        </div>
    </div>
{% endblock %}