{% extends "html/_base.html" %}
{% block content %}
    <div class="container">
        <div class="dark-blue-window">
            <h1>Відновлення пароля</h1>
        </div>

    <div class="work-section">
            <h5>Ми надіслали вам електронний лист. Якщо ви не отримали його, перевірте папку зі спамом. В іншому випадку зв’яжіться з нами, якщо ви не отримаєте його протягом кількох хвилин на пошту makspedos@gmail.com.</h5>
             <a href="{% url 'web:home' %}" class="button-a">Повернутися на головну сторінку</a>
    </div>
    </div>
{% endblock %}