{% extends "html/_base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="container">
        <div class="dark-blue-window">
            <h1>Відновлення пароля</h1>
        </div>

    <div class="work-section">
        <form method="post">
            <h5>Забули пароль? Уведіть вашу пошту для відновлення пароля</h5>
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit" class="submit-form2">Підтвердити</button>
        </form>
        </div>
    </div>
{% endblock %}