{% extends "html/_base.html" %}
{% load static %}

{% block content %}
        <div class="container">
        <div class="dark-blue-window">
            <h1>Вітаю, {{ user.username }}</h1>
        </div>
            <div class="work-section">
            <div class="window">
                <div class="profile">
                    <img src="{% static "account/profile.jpg" %}" alt="Profile Picture">
                    <h2>@{{ user.username }}</h2>
                </div>
            <ul class="properties">
                <li><span>Пошта:</span> {{ user.email }}</li>
                <li><span>Дата початку користування:</span> {{ user.date_joined }}</li>

                <li><span>Роль:</span>{% if user.is_superuser %}Адміністратор {% else %}Звичайна{% endif %}</li>
            </ul>
            </div>
            <div class="action-table">
                <table>
                    <caption class="caption-one"><strong>Дії:</strong></caption>
                        <tr>
                            <th class="table-th">
                                <br class="table-br">
                                <a href="{% url 'accounts:email' %}" class="a-simple">Змінити пошту</a>
                            </th>
                        </tr>
                        <tr>
                            <th class="table-th">
                                <a href="{% url 'account_change_password' %}" class="a-simple">Змінити пароль</a>
                            </th>
                        </tr>
                        <tr>
                            <th class="table-th">
                                <a href="{% url 'accounts:username' %}" class="a-simple">Змінити ім'я користувача</a>
                            </th>
                        </tr>
                        <tr>
                            <th class="table-th">
                                <a href="{% url 'accounts:results' %}" class="a-simple">Переглянути збережені результати</a>
                            </th>
                        </tr>
                </table>
            </div>
            </div>

        </div>
{% endblock %}