{% extends "html/_base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="container">
        <div class="dark-blue-window">
            <h1>Змінити ім'я користувача</h1>
        </div>
    <div class="work-section">
        <form method="post">
            {% csrf_token %}
            <label>Введіть нове ім'я користувача</label>
            <input type="text" name="username" >
            <button type="submit" class="submit-form">Підтвердити</button>
        </form>
        </div>
    </div>
{% endblock %}