<div id="mySidebar" class="sidebar">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
    <a href="{% url "web:home" %}">Головна сторінка</a>
    <a href="{% url "web:form_page" %}#">Почати</a>
    <a href="{% url 'web:help' %}">Підтримка</a>
  {% if user.is_authenticated %}
      <a href="{% url 'accounts:profile' %}">Профіль</a>
      <a href="{% url 'account_logout' %}">Вийти з акаунту</a>
  {% else %}
      <a href="{% url 'account_login' %}">Увійти</a>
      <a href="{% url 'account_signup' %}">Зареєструватися</a>
  {% endif %}
</div>

<div id="main">
  <button class="openbtn" onclick="openNav()">☰ Відкрити меню</button>
</div>