

.window {
        width: 500px;
        height: 500px;
        background-color: #ffffff;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        padding: 20px;

    }

    .profile {
        text-align: center;
        margin-bottom: 20px;
    }

    .profile img {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        margin-bottom: 10px;
    }

    .properties {
        list-style-type: none;
        padding: 0;
        margin: 0;
        font-size: 24px;
        font-style: italic;
    }
    .properties span {
        font-weight: bold;
    }

ul.properties li {
    margin-bottom: 20px;
}

label {
        display: block; /* Display the label as block to make it stack on top of the input */
        margin-bottom: 10px; /* Add some space between the label and the input */
        font-size: 24px; /* Adjust the font size */
        color: #333; /* Set the text color */
    }

    /* Style for the input */
    input{
        width: 100%; /* Make the input full width */
        padding: 10px; /* Add padding to the input */
        font-size: 16px; /* Adjust the font size */
        border: 1px solid #ccc; /* Add a border */
        border-radius: 5px; /* Add border radius for rounded corners */
        box-sizing: border-box; /* Include padding and border in the input's total width */
    }
