body{
  background-image: url("../account/background.v1.png");

}
.button-return{
  margin-top: 10px;
  margin-bottom: 10px;
}
caption.caption-one{
  background-color: lightblue;
  font-size: 32px;
  width: 500px;
  padding: 1px;

  position: absolute;
  text-align: center;


}
a.a-simple{
  text-decoration: none;
  color: blue;

}

.color-info{
  color: blue;
}
th.table-th{
    padding-top: 25px;
    font-size: 24px;
  width: 500px;
    height: 100px;
  padding-bottom: 10px;
  text-align: center;
  background: #ffffff;
  border: 1px solid grey;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

body, h1 {
  margin: 0;
    max-height: 80%;
    min-height: 70%;
}

/* Style for the dark blue window */
.dark-blue-window {
  background-color: #13293d; /* Dark blue color */
  color: #ffffff; /* White text color */
  padding: 50px; /* Adjust padding as needed */
  text-align: left; /* Center the text */
  font-family: Arial, sans-serif; /* Change the font as desired */

}

.dark-blue-window h1 {
  font-size: 2em;
  font-weight: bold;
}

.work-section {
  padding: 40px;
  background-color: #f5f5f5;
    min-height: 900px;
    max-height: 1200px;

}

h2 {
    font-size: 2.5em; /* Adjust the font size as needed */
    color: darkblue; /* Text color */
    margin-bottom: 40px; /* Add space between title and paragraph */
    font-family: "Segoe UI";
}

h2.property{
    padding-top: 90px;

}

p{
  font-size: 1.2em; /* Adjust the font size as needed */
  color: #666; /* Text color */
  line-height: 1.6; /* Adjust line height for readability */

}



.submit-form {
    border-radius: 10px;
    font-size: 20px;
    margin-top: 10px;
    padding: 10px 20px;
    background-color: lightblue; /* Green background color */
    border: none; /* Remove border */
    cursor: pointer; /* Change cursor on hover */
    transition: background-color 0.3s ease; /* Smooth transition on hover */
    float: right;
}

.submit-form2 {
    border-radius: 10px;
    font-size: 20px;
    margin-top: 40px;
    padding: 20px 30px;
    background-color: lightblue; /* Green background color */
    border: none; /* Remove border */
    cursor: pointer; /* Change cursor on hover */
    transition: background-color 0.3s ease; /* Smooth transition on hover */
    float: right;
}

.submit-form3 {
    border-radius: 10px;
    font-size: 32px;
    margin: 20px 40px;
    padding: 20px 50px;
    background-color: lightblue; /* Green background color */
    border: none; /* Remove border */
    cursor: pointer; /* Change cursor on hover */
    transition: background-color 0.3s ease; /* Smooth transition on hover */
    float: right;
}


.submit-form:hover {
    background-color: #45a049; /* Darker green on hover */
}

.checkbox-container {
    display: flex;
    flex-direction: row;
    padding-left: 100px;
     padding-top: 50px;
}

.checkbox-item {
    margin-right: 150px; /* Adjust as needed */
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    align-items: center; /* Center vertically */
    font-size: 24px;
    cursor: pointer;
    font-family: "Segoe UI";


}

.checkbox-item input[type="checkbox"] {
    margin-bottom: 5px;
}

.checkbox-item label {
    text-align: center;
}
#upload{
    display:none
}
.file-input-label {
    display: inline-block;
    position: relative;
    cursor: pointer;
    float: right;
}


.file-input-label input[type="file"] {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
}

.img-face{
    border: 4px solid #000; /* Adjust thickness and color as needed */
    border-radius: 10px; /* Adjust border radius for rounded corners */
    padding: 8px;
    width: 50%;
     margin-bottom: 40px;
}


.output h2{
    text-align: center;
}
.description{
    width: 450px;
    padding: 10px;
    font-size: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 1);
    background-color: lightblue;
}

.container{
    min-width: 70%;
}

.question{
    font-size: 24px;
}
.answer p{
    color: darkblue;
}

.welcome-message h1{
    font-size: 70px;
    padding-top: 190px;
    color: white;
    font-family: "Segoe UI";
}

.empty-field {
    border: 2px solid red; /* Example red border */
}

.error-message{
    font-size: 24px;
}

.button-a{
    border-radius: 10px;
    font-size: 20px;
    margin-top: 10px;
    padding: 10px 20px;
    background-color: lightblue;
    border: none;
    transition: background-color 0.3s ease;
    text-decoration: none;
    color: darkblue;
}

h5{
    font-size: 20px;
    padding-bottom: 10px;
}

.span-label span{
    padding-left: 50px;
}