{% extends 'html/_base.html' %}
{% load static %}
{% block content %}
    <div class="container">
    <div class="dark-blue-window">
    <h1>
        Швидка інструкція:<br>
        1 Завантажте зображення<br>
        2 Оберіть властивості<br>
        3 Отримайте результати<br>
        4 Насолоджуйтеся<br>
    </h1>
    <!-- Add any other content or elements here -->
  </div>

    <div class="work-section">
        {% if user.is_authenticated %}
            <h2>Оберіть зображення</h2>
                <form method="POST" enctype="multipart/form-data" onsubmit="return validateForm()">
                {% csrf_token %}

                    <label for="img-upload" class="file-input-label">
                        <span class="span-label" id="file-name"></span>
                        <span class="submit-form2">Завантажити</span>
                        <input type="file" id="img-upload" name="img" accept="image/*" onchange="displayFileName()">
                    </label>

                    <h2 class="property">Оберіть властивості:</h2>
                    <div class="description">
                        <h5>Примітка</h5>
                        <span>Для отримання результату потрібно обрати хоча б одну властивість.</span>
                    </div>

                    <div class="row">
                        <div class="checkbox-container">
                            <div class="col-lg-4">
                                <div class="checkbox-item" onclick="activateCheckbox(this)">
                                    <img width="70" src="{% static "images/icons/tax-inspector.png" %}" alt="Age Icon">
                                    <label class="label-box" for="age"><strong>Вік</strong></label>
                                    <input type="checkbox" id="age" name="age" value="true">
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="checkbox-item" onclick="activateCheckbox(this)">
                                    <img width="70" src="{% static "images/icons/couple_6145972.png" %}" alt="Gender Icon">
                                    <label class="label-box" for="gender"><strong>Стать</strong></label>
                                    <input type="checkbox" id="gender" name="gender" value="true">
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="checkbox-item" onclick="activateCheckbox(this)">
                                    <img width="70" src="{% static "images/icons/angry.png" %}" alt="Emotion Icon">
                                    <label class="label-box" for="emotion"><strong>Емоції</strong></label>
                                    <input type="checkbox" id="emotion" name="emotion" value="true">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="error-message" id="error-message" style="color: red; display: none;">Потрібно обрати хоча б одну властивість.</div>
                <button type="submit" class="submit-form2">Підтвердити</button>
                </form>
        {% else %}
            <h2>Щоб почати роботу зі застосунком вам потрібно спочатку авторизуватись</h2>
            <a href="{% url 'account_login' %}" class="button-a">Увійти</a>
            АБО
            <a href="{% url 'account_signup' %}" class="button-a">Зареєструватись</a>
        {% endif %}
    </div>
    </div>

{% endblock %}