{% extends 'html/_base.html' %}
{% load static %}
{% block content %}
    <div class="container">
    <div class="dark-blue-window">
    <h1>
        Швидка інструкція:<br>
        1 Завантажте зображення<br>
        2 Оберіть властивості<br>
        3 Отримайте результати<br>
        4 Насолоджуйтеся<br>
    </h1>
    <!-- Add any other content or elements here -->
  </div>

    <div class="work-section">
        {% if user.is_authenticated %}
            <h2>Оберіть зображення</h2>
                <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                    <label for="img-upload" class="file-input-label">
                        <span class="submit-form">Завантажити</span>
                        <input type="file" id="img-upload" name="img" accept="image/*">
                    </label>

                    <div class="url-input-label">
                        <label for="img-url">Введіть URL зображення:</label>
                        <input type="url" id="img-upload" name="img" placeholder="https://example.com/image.jpg">
                    </div>



                    <h2 class="property">Оберіть властивості:</h2>
                    <div class="description">
                        <h5>Примітка</h5>
                        <span>Для отримання результату потрібно обрати хоча б одну властивість.</span>
                    </div>

                    <div class="row">
                        <div class="checkbox-container">
                            <div class="col-lg-4">
                                <div class="checkbox-item">
                                    <img width="70" src="{% static "icons/tax-inspector.png" %}" alt="Age Icon">
                                    <label class="label-box" for="age">Вік</label>
                                    <input type="checkbox" id="age" name="age" value="true">
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="checkbox-item">
                                    <img width="70" src="{% static "icons/couple_6145972.png" %}" alt="Gender Icon">
                                    <label class="label-box" for="gender">Стать</label>
                                    <input type="checkbox" id="gender" name="gender" value="true">
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="checkbox-item">
                                    <img width="70" src="{% static "icons/angry.png" %}" alt="Emotion Icon">
                                    <label class="label-box" for="emotion">Емоції</label>
                                    <input type="checkbox" id="emotion" name="emotion" value="true">
                                </div>
                            </div>
                        </div>
                    </div>
                <button type="submit" class="submit-form2">Підтвердити</button>
                </form>
        {% else %}
            <h2>You need first to login or sign up</h2>
            <a href="{% url 'account_login' %}">Log In</a>
            <a href="{% url 'account_signup' %}">Register</a>
        {% endif %}
    </div>
    </div>

{% endblock %}