{% extends "html/_base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="container">
        <div class="dark-blue-window">
            <h1>Сторінка з підтримкою</h1>
        </div>
        <div class="work-section">
                <div class="question">
                    <p>1.Які формати зображення може приймати система?</p>
                </div>
                <div class="answer">
                    <p>Відповідь: Система може приймає: jpg, png, jpeg.</p>
                </div>

                <div class="question">
                    <p>2.Як зв'язатися з адміністратором ?</p>
                </div>
                <div class="answer">
                    <p>Відповідь: Напишіть на почту: makspedos@gmail.com.</p>
                </div>

                <div class="question">
                    <p>3.Скільки облич може ідентифікувати система?</p>
                </div>
                <div class="answer">
                    <p>Відповідь: Як мінімум 1, а як максимум 5 для нормальної роботи системи розпізнавання.</p>
                </div>

                <div class="question">
                    <p>4.Який розмір зображення слід завантажувати?</p>
                </div>
                <div class="answer">
                    <p>Відповідь: Розмір зображення має бути щонайменше 224х224 для отримання результату.</p>
                </div>

                <div class="question">
                    <p>5.Як завантажити зображення?</p>
                </div>
                <div class="answer">
                    <p>Відповідь: Для завантаження зображення можна обрати зі системи потрібну фотографію, або ввести URL-посилання зображення.</p>
                </div>
        </div>
    </div>
{% endblock %}