{% extends "html/_base.html" %}
{% load static %}
{% block content %}
    <div class="container">
        <div class="dark-blue-window">
            <h1>Результати ідентифікації</h1>
        </div>
        <div class="work-section">
            {% if image %}
                <img src="/media/faces/face.png" width="350"class="img-face" alt="Image description">
                    <div class="output">
                        <div class="text-left">
                            <h2>Передбачення</h2>
                        </div>
                        <table style="width:60%">
                            <tr>
                                <th rowspan="{% if "емоції" in col_list %}2 {% else %}1{% endif %}">
                                    Обличчя
                                </th>
                                {% for col in col_list %}
                                    {% if col == 'емоції' %}
                                        <th colspan="5">{{ col|title }}</th>
                                    {% else %}
                                        <th rowspan="{% if "емоції" in col_list %}2 {% else %}1{% endif %}">
                                            {{ col|title }}
                                        </th>
                                    {% endif %}
                                {% endfor %}
                            </tr>
                                {% if list_emotions %}
                                    <tr>
                                        {% for emotion in list_emotions %}
                                            <td>{{ emotion }}</td>
                                        {% endfor %}
                                    </tr>
                                {% endif %}
                                {% for dict_predict in result_list %}
                                    <tr>
                                        <td>{{ forloop.counter }}</td>
                                        {% for key, value in dict_predict.items %}
                                            {% if key == "емоції" %}
                                                {% for i in value %}
                                                    <td>{{ i }}</td>
                                                {% endfor %}
                                             {% else %}
                                                <td>{{ value }}</td>
                                            {% endif %}
                                        {% endfor %}
                                    </tr>
                                {% endfor %}
                        </table>
                    </div>
            {% else %}
                <h1>Ваше зображення неможливо розпізнати</h1>
            {% endif %}
            <p><a href="{% url 'web:clean' %}"><button class="submit-form">Повернутися до обирання меню форми</button></a></p>
        </div>
    </div>
{% endblock %}
