{% extends "html/_base.html" %}
{% load static %}
{% block content %}
    <div class="container">
        <div class="dark-blue-window">
            <h1>Результати ідентифікації</h1>
        </div>
        <div class="work-section">
            {% if image %}
                <img src="{% static 'faces/face.png' %}" width="400" class="img-face" alt="Image description">
                    <div class="output">
                        <h2>Передбачення</h2>
                        {{ output }}
                    </div>
            {% else %}
                <p>No images</p>
            {% endif %}
            <p><a href="{% url 'web:form_page' %}"><button class="submit-form">Повернутися до обирання меню форми</button></a></p>
        </div>
    </div>
{% endblock %}
